# Temporary ignored files

# Directory and meta with inventory system
/Children of the Deep/Assets/Scripts/C#/Inventory System/
/Children of the Deep/Assets/Scripts/C#/Inventory System.meta

# Directory and meta with toolkit
/Children of the Deep/Assets/Scripts/C#/Toolkit
/Children of the Deep/Assets/Scripts/C#/Toolkit.meta
